[hooks.read-source-state.pre]
command = "{{ .chezmoi.sourceDir }}/.install-doppler.sh"

[doppler]
project = "env"
config = "local"  # or "staging", "prod", etc.

[git]
autoCommit = true
autoPush = true
