[user]
	name = Prad Nukala
	email = prad@sonr.io
	editor = nvim
	pager = diffnav

{{ if eq .chezmoi.os "darwin" -}}
[credential "https://github.com"]
	helper = !/home/prad/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/home/prad/.local/share/devbox/global/default/.devbox/nix/profile/default/bin/gh auth git-credential[core]

[ghq]
	root = /Users/prad/Developer

[ghq "https://github.com/sonr-io"]
	vcs = git
	root = /Users/prad/Developer/github.com/sonr-io
{{ end -}}

{{ if eq .chezmoi.os "linux" -}}
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
	editor = nvim
	pager = diffnav
{{ end -}}

[interactive]
	diffFilter = diffnav

[delta]
	navigate = true  # use n and N to move between diff sections
	dark = true      # or light = true, or omit for auto-detection

[rebase]
	updateRefs = true

[hub]
	protocol = https
	host = sonr-io

[merge]
	conflictstyle = zdiff3

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[net]
	git-fetch-with-cli = true
