[Desktop Entry]
Version=1.0
Name=Doppler
Comment=Doppler
Exec=omarchy-launch-webapp https://dashboard.doppler.com/workplace/7ba97bfdf06daee20462/projects
Terminal=false
Type=Application
Icon=/home/prad/.local/share/applications/icons/Doppler.png
StartupNotify=true
