[Desktop Entry]
Version=1.0
Name=Homebridge
Comment=Open Homebridge WebApp
Exec=omarchy-launch-webapp http://umbrel.local:8581/setup
Terminal=false
Type=Application
Icon=/home/prad/.local/share/applications/icons/Homebridge.png
StartupNotify=true