[Desktop Entry]
Version=1.0
Name=Gh Dash
Comment=Gh Dash
Exec=alacritty --class TUI.float --config-file $XDG_CONFIG_HOME/alacritty/gh-dash.toml
Terminal=false
Type=Application
Icon=/home/prad/.local/share/applications/icons/GhDash.png
StartupNotify=true
